.slides {
  position: relative;
  height: 400px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  transition: opacity 0.25s;
}

.active {
  opacity: 1;
  z-index: 2;
}

.slide {
  font-size: 40px;
  padding: 40px;
  box-sizing: border-box;
  background: #333;
  color: #fff;
}

.slide:nth-of-type(1) {
  background: indigo;
}

.slide:nth-of-type(2) {
  background: tomato;
}

.slide:nth-of-type(3) {
  background: pink;
}

.slide:nth-of-type(4) {
  background: blue;
}

.slide:nth-of-type(5) {
  background: purple;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.carousel {
  margin: 80px;
}

.slides {
  margin-bottom: 20px;
  border-radius: 7px;
  overflow: hidden;
}

.indicators,
.controls {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.indicator,
.control {
  display: block;
  background-color: #cccccc;
  padding: 0.5em;
  border-radius: 7px;
  cursor: pointer;
  user-select: none;
  min-width: 40px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.indicator.active {
  background-color: indigo;
}

.control-pause > span {
  position: absolute;
  opacity: 0;
}
